{
    "env": {
        "commonjs": true,
        "es6": true,
        "browser": true
    },
    "extends": [
        "google",
        "eslint:recommended",
        "prettier"
    ],
    "plugins": [
        "prettier"
    ],
    "globals": {
        "Atomics": "readonly",
        "SharedArrayBuffer": "readonly"
    },
    "parserOptions": {
        "ecmaVersion": 2020,
        "sourceType": "module"
    },
    "rules": {
        "prettier/prettier": "error",
        "quotes": ["error", "single", { "avoidEscape": true, "allowTemplateLiterals": true }],
        "require-jsdoc": 0,
        "valid-jsdoc": 2,
        "no-invalid-this": 0,
        "no-unused-vars": 1,
        "no-undefined": 1,
        "no-undef": 1,
        "no-inner-declarations": 0,
        "consistent-return": ["error"],
        "prefer-promise-reject-errors": 1
    }
}
